<h4><a href="{{link}}" target="_blank">{{title}}</a></h4>
{{^has_lines}}
<pre>
	<code class="{{lang}}">
{{content}}
	</code>
</pre>
{{/has_lines}}

{{#has_lines}}
<style>
pre.onebox ol { background:#EBEBEB;
    padding-top:5px;
    padding-bottom:5px;
    overflow:auto;
    font-family:"Courier New",Courier,mono; margin:0;
    color:#fff; 
    word-break: break-word;
    padding-left:45px;
    margin:0;
} 
pre.onebox ol li { background:#fff; font-size:small;color:#000;
    border-bottom:1px solid #E3E3E3;
    width:99%;
      padding-left:5px;
}
pre.onebox ol {
    counter-reset: li-counter;
    list-style-type: none;
}
pre.onebox ol li.selected{
	background-color:#F8EEC7;
}
pre.onebox ol li:before {
    background-color:#cfcfcf;
    position: absolute;
	left: 31px;
	width: 40px;
    display:inline-block;
    color:#fff;
    text-align:right;
    font-weight: bold;
    text-align: right;
    z-index: 1;
    overflow: hidden;
    content: counter(li-counter);
    counter-increment: li-counter;
}
</style>
<pre class='onebox' style='white-space: normal'>
    <code class='hljs' style='white-space: normal;padding:0px;margin:0px;'>
<ol  class='start' start="{{cr_results.from_minus_one}}" style='counter-reset: li-counter {{cr_results.from_minus_one}} ;'>
{{#lines}}
<li>{{data}}</li>
{{/lines}}
</ol>
    </code>
</pre>

{{/has_lines}}


{{#truncated}}
  This file has been truncated. <a href="{{link}}" target="_blank">show original</a>
{{/truncated}}

