<h4><a href="{{link}}" target="_blank">{{title}}</a></h4>
{{^has_lines}}
<pre>
	<code class="{{lang}}">
{{content}}
	</code>
</pre>
{{/has_lines}}


<script>
{{! 
/*
Author: Lidlanca 2014
$.Onebox JS Helper
Note: $.Onebox should be defined globally and not as part of a generated onebox
but it is safe to append it multiple times. 
$.onebox can only be defined once, and styles can not be overwritten unless first removed.

Styles tag are given a unique id based on a prefix and the given style name.
Use a unique prefix to avoid ID collision.

Methods
 removeStyle      remove a style from dom
 loadStyle        load new style if not already exists or loaded
 appendStyle      append style to dom
 listLoadedStyles trace all styles in console

https://gist.github.com/lidlanca/5a17d77ed8654d408e54
*/
}}
(function(e){if(!!e.Onebox){return}e.Onebox=new function(){var t={};var n="onebox_";this.loadStyle=function(e,n){if(!t.hasOwnProperty(e)){t[e]={content:n,added:false};this.appendStyle(e)}else{if(t[e].added==false){console.log(n);t[e].content=n;this.appendStyle(e)}else{}}};this.listLoadedStyles=function(){console.log(t)};this.removeStyle=function(r){if(t.hasOwnProperty(r)){t[r].added=false;e("#"+n+r).remove()}else{}};this.appendStyle=function(r){if(!t.hasOwnProperty(r))return;t[r].added=true;var i=e("<style id='"+n+r+"'>"+t[r].content+"</style>");e("body").append(i)}}})(jQuery);
cssRule="pre.onebox ol{background:#EBEBEB;padding-top:5px;padding-bottom:5px;overflow:auto;color:#fff;word-break:break-word;padding-left:5px;margin:0;counter-reset:li-counter;list-style-type:none}pre.onebox ol li{background:#fff;font-size:small;color:#000;border-bottom:1px solid #E3E3E3;width:inherit;padding-left:45px;position:relative}pre.onebox ol li.selected{background-color:#F8EEC7}pre.onebox ol li:before{background-color:#cfcfcf;position:absolute;left:0;width:40px;display:inline-block;color:#fff;font-weight:700;text-align:right;z-index:1;overflow:hidden;content:counter(li-counter);counter-increment:li-counter}pre.onebox code{white-space:normal;padding:0;margin:0;position:relative}pre.onebox{white-space:normal}";
$.Onebox.loadStyle("code_lines",cssRule)
</script>


{{#has_lines}}
{{#hide_for_now}}
<style>

pre.onebox ol { background:#EBEBEB;
    padding-top:5px;
    padding-bottom:5px;
    overflow:auto;
    color:#fff; 
    word-break: break-word;
    padding-left:5px;
    margin:0;
    counter-reset: li-counter;
    list-style-type: none;
} 
pre.onebox ol li { 
	background:#fff; font-size:small;color:#000;
    border-bottom:1px solid #E3E3E3;
    width:inherit;
    padding-left:45px;
    position:relative;
}

pre.onebox ol li.selected{
	background-color:#F8EEC7;
}

pre.onebox ol li:before {
    background-color:#cfcfcf;
    position: absolute;
	left:0px;
	width: 40px;
    display:inline-block;
    color:#fff;
    text-align:right;
    font-weight: bold;
    text-align: right;
    z-index: 1;
    overflow: hidden;
    content: counter(li-counter);
    counter-increment: li-counter;
}
pre.onebox code {
	white-space: normal;padding:0px;margin:0px;position:relative;
}
pre.onebox {
	white-space: normal
}

</style>
{{/hide_for_now}}

<pre class='onebox' >
    <code class='hljs' >
<ol  class='start' start="{{cr_results.from}}" style='counter-reset: li-counter {{cr_results.from_minus_one}} ;'>
{{#lines}}
<li{{#selected}} class="selected"{{/selected}}>{{data}}</li>
{{/lines}}
</ol>
    </code>
</pre>

{{/has_lines}}


{{#truncated}}
  This file has been truncated. <a href="{{link}}" target="_blank">show original</a>
{{/truncated}}

